/* red color: #E82A45;*/
/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

html,body  {
    font-family: 'Roboto';
    font-style: normal;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 25px;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
    color: #050728;
    border: 2px solid #E1E1E1;
    border-radius: 6px;
    white-space: nowrap;
    transition: all .3s;
}


.btn.btn-red:hover,
.btn:hover {
    border: 2px solid #5c4d82;
}

.btn.btn-red {
    background: #E82A45;
    border: 2px solid #E82A45;
    color: #FFFFFF;
    border-radius: 4.16667px;
}

.btn.small {
    padding: 3px 12px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}

.input {
    background: rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    border: none;
    padding: 10px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #050728;
    width: 100%;
}

.input[required] + span:after {
    content: '*';
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    color: red;

}
/* end - common */

/* header */
header {
    padding-top: 34px;
    position: relative;
}

header .logo {
    margin-left: 10px;
}

header:after {
    content: '';
    position: absolute;
    right: 0;
    top: -100%;
    bottom: 0;
    width: 30.13%;
    background-color: #F9F9F9;
    z-index: -1;
}

header .row {
    display: flex;
    align-items: center;
}

header .burger {
    width: 32px;
    height: 32px;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

 header .sidebar-mobile {
    position: fixed;
    z-index: 999;
    background: #fff;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 250px;
    padding-top: 50px;
    transform: translateX(100%);
    transition: all .3s;
}

header .sidebar-mobile.open {
    transform: translateX(0);
}

header .sidebar-mobile .close {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

header .sidebar-mobile ul li  {
    margin-bottom: 20px;
}

header .sidebar-mobile ul li a {
    text-decoration: none;
    color: #000;
}

header .nav {
    display: flex;
    margin-right: auto;
}

header .nav li {
    margin-right: 25px;
    font-size: 14px;
}

header .nav li a {
    text-decoration: none;
    color: #000;
}

header .auth {
    display: flex;
    justify-content: flex-end;
}

header .auth .btn {
    margin-right: 10px;
    border-radius: 4px;
}

header .auth .btn:last-child {
    margin-right: 10px;
}

header .dropbtn {
    color: #000;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    font-size: 14px;
}
  
header .dropdown {
    position: relative;
    display: inline-block;
}
  
header .dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 160px;
    border-radius: 4px;
    z-index: 1;
}
  
header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .dropdown-content a:hover {
    color: #E82A45;
}

header .show {display:block;}

header .auth .btn.btn-red img {
    margin-right: 5px;
}

header .auth .btn {
    align-self: center;
}

/* header - end */

/* section main */
#main h1 {
    font-weight: 500;
    font-size: 38px;
    letter-spacing: -1px;
    color: #E82A45;
}

#main {
    overflow: hidden;
    padding-top: 150px;
}

#main .container {
    padding-bottom: 140px;
}

#main::after {
    content: '';
    position: absolute;
    right: 0;
    top: -100%;
    bottom: 0;
    width: 30.13%;
    background-color: #F9F9F9;
    z-index: -1;
}

#main,
#main .container {
    position: relative;
}

#main h1 span {
    color: #5c4d82;
}

#main p {
    color: #82839C;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 20px 0 25px;
}

#main .notify-form {
    display: flex;
}

#main .notify-form input {
    /* height: 42px; */
    background: rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    border: none;
    padding: 10px 13px;
    font-weight: 500;
    font-size: 13px;
    color: #050728;
    margin-right: 10px;
    min-width: 170px;
}

#main .coming-text {
    font-weight: 500;
    font-size: 11.5px;
    line-height: 16px;
    color: #AFB0BC;
    display: inline-block;
    margin-bottom: 56px;
}

#main .macbook {
    width: 745px;
    height: 412px;
    object-fit: contain;
    object-position: center center;
    position: absolute;
    top: -20px;
    left: 0;
}
/* section main - end */

/* section options */
#options {
    border-top: 2px solid rgba(0, 0, 0, 0.04);
    border-bottom: 2px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 70px;
}

#options h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    color: #5C5D82;
}

#options .option {
    padding: 0;
    padding-top: 47px;
    padding-bottom: 57px;
}

#options .option:nth-child(2) {
    padding-left: 50px;
    padding-right: 50px;
}

#options .option:nth-child(3) {
    padding-left: 50px;
}

#options .option p {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #82839C;
    white-space: nowrap;
}

#options .option h3 {
    padding: 6px  0 6px;
}

#options .center {
    border-left: 2px solid rgba(0, 0, 0, 0.04);
    border-right: 2px solid rgba(0, 0, 0, 0.04);
}
/* section options - end */

/* footer */
footer {
    background: #050728;
    padding: 63px 0 84px;
}

footer .title {
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    color: #828393;
    margin-bottom: 15px;
}

footer .logo {
    margin-left: 15px;
}

footer .item {
    margin-bottom: 5px;
}

footer .item a {
    font-weight: 500;
    font-size: 12px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}
/* footer - end */

/* dialog */
#free-demo-dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    border: none;   
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -999;
    transition: all .3s;
}

#free-demo-dialog.open {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}

.dialog {
    max-width: 728.73px;
    max-height: 561.45px;
    background: #FFFFFF;
    border-radius: 10px;
    position: relative;
    padding: 46px 64px;
}

.dialog h1 {
    font-weight: 400;
    font-size: 46px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -1px;
    color: #5C5D82;
    margin-bottom: 20px;
}

.dialog form {
    /* text-align: center; */
}

.dialog form .input {
    margin-bottom: 10px;
}

.dialog form label {
    display: inline-block;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #5C5D82;
    padding: 30px 0 23px;
}

.dialog form label input[type=checkbox]{
    margin-right: 10px;
}

.dialog form .btn {
    margin: 0 auto;
}

.dialog .close {
    position: absolute;
    right: 25px;
    top: 25px;
}
/* dialog - end */

/* about */
#about {
    margin-bottom: 100px;
}

#about h1 {
    font-weight: 500;
    font-size: 38px;
    letter-spacing: -1px;
    color: #5C5D82;
    margin-bottom: 25px;
}

#about .text-mute {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #82839C;
    margin-bottom: 20px;
    display: inline-block;
}

#about p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #82839C;
}

#about .about-img {
    width: 100%;
    height: 100%;
}

#about .about-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

#about .row.second .text-mute {
    margin-top: 100px;
}

#about .about-logo {
    position: relative;
}

#about .first > div:first-child div {
    padding-left: 90px;
}

#about .second > div:last-child div {
    padding-left: 70px;
    padding-top: 50px
}

#about .about-logo img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
/* about - end */

/* shapes */
#shapes h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 61px;
    letter-spacing: -1px;
    color: #5C5D82;
    margin-bottom: 10px;
}

#shapes p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #82839C;
    margin-bottom: 30px;
}

#shapes .shape-img {
    width: 100%;
    height: 100%;
}

#shapes .shape-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#shapes .shape-description {
    padding-top: 100px;
    padding-bottom: 100px;
}

#shapes .second > div:last-child div {
    margin-left: 100px;
}
/* shapes - end */

/* contactus */
#contact-us {
    margin-bottom: 70px;
    margin-top: 100px;
}

#contact-us h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 61px;
    letter-spacing: -1px;
    color: #5C5D82;
    margin-bottom: 15px;
}

#contact-us p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #82839C;
    margin-bottom: 20px;
}

#contact-us .shape-img {
    width: 100%;
    height: 100%;
}

#contact-us .shape-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

#contact-us form .input {
    margin-bottom: 10px;
    max-width: 450px;
}

#contact-us form label {
    display: inline-block;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #5C5D82;
    padding: 30px 0 23px;
}

#contact-us form label input[type=checkbox]{
    margin-right: 10px;
}

#contact-us form .btn.btn-red{
    min-width: 200px;
}
/* contactus - end */

/* coming soon */
.coming-soon {
    padding: 200px 0;
    text-align: center;
}

.coming-soon .btn.btn-red {
    display: inline-block;
    margin-top: 23px;
    padding-left: 33px;
    padding-right: 33px;
}

.coming-soon p {
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    color: #82839C;
}

.coming-soon h1 {
    font-weight: 500;
    font-size: 38px;
    color: #5C5D82;
    margin-bottom: 18px;
}
/* coming soon - end */

/* slider */
.slick-dots {
	display: flex;
	justify-content: center;
    align-items: center;
	margin: 0;
	padding: 1rem 0;
	list-style-type: none;
}

.slick-dots  li {
    margin: 0 0.25rem;
}

.slick-dots  button {
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    
    border: none;
    border-radius: 100%;
    background-color: #D9D9D9;
    
    text-indent: -9999px;
}

.slick-dots  li.slick-active button {
    background-color: #E82A45;
    width: 10px;
    height: 10px;
}

.slider {
    cursor: pointer;
}
/* slider - end*/

/* mouse scroll down */
.moving-mouse-holder {
    margin: auto;
    cursor: pointer;
    margin-top: 60px;
    width: 170px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transition: all .3s;
    transform: translateX(-50);
}

.moving-mouse-holder .mouse {
    width: 26px;
    height: 40px;
    position: relative;
    right: 0;
    border-radius: 18px;
    border: 2px solid #5c4d82;
}

.moving-mouse-holder .mouse-button {
    background-color: #5c4d82;
    width: 4px;
    height: 10px;
    border-radius: 2px;
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0 0 0 -2px;
    animation: mouse-scroll 1s infinite alternate;
}

.moving-mouse-holder .text {
    margin-top: -30px;
    margin-left: 40px;
    color: #5c4d82;
    font-size: 12px;
    line-height: 1em;
}

@keyframes mouse-scroll {
to {
    transform: translate(0, 6px) scale(1, 0.8);
}
}
/* mouse scroll down */

@media screen and (max-width: 1024px) {
    #main:after,
    header:after {
        display: none;
    } 

    #main .macbook {
        width: 500px;
    }

    #options .option {
        padding: 30px 20px !important;
    }

    #options .option p {
        white-space: normal;
    }


    #options .option p br {
        display: none;
    }

    #about .second .col div:not(.about-img) {
        padding: 30px;
    }

    #about .second .col div br {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    #main .macbook {
        display: none;
    }

    .moving-mouse-holder {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .order-md-2 {
        order: 2;
    }

    .order-md-1 {
        order: 1;
    }

    header .nav {
        display: none;
    }

    #main {
        padding-top: 100px;
    }

    #main .container {
        padding-bottom: 80px;
    }

    #main .macbook {
        display: none;
    }

    #main .notify-form {
        display: flex;
        flex-direction: column;
    }
    
    #main .notify-form input {
        margin-bottom: 20px;
    }

    #options {
        border: none;
    }

    #options .option {
        border: none;
        border-top: 2px solid rgba(0, 0, 0, 0.04);
    }

    #options .option:last-child {
        border-bottom: 2px solid rgba(0, 0, 0, 0.04);
    }

    #about {
        margin-bottom: 20px;
    }

    #about h1 {
        font-size: 30px;
    }

    #about h1 br {
        display: none;
    }

    #about div p {
        font-size: 14px;
    }

    #about div p br {
        display: none;
    }

    #about .about-logo img {
        width: 100px;
        height: 100px;
        display: none;
    }

    #about .row.second .text-mute {
        margin-top: 10px;
    }

    #about .second div div:not(.about-img) {
        padding: 20px;
    }

    #about .about-img img {
        object-fit: contain;
    }

    #about .first div:first-child div {
        padding-left: 20px;
        padding-bottom: 50px;
    }

    #about .first div:first-child div {
        padding-left: 20px;
    }

    #shapes .shape-description br {
        display: none;
    }

    #shapes .shape-description {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    #contact-us .row div {
        text-align: center;
    }

    #contact-us .row div .btn,
    #contact-us .row div label {
        display: flex;
        justify-content: center;
        margin: 0 auto;

    }

    #contact-us .row div .btn {
        margin-bottom: 80px;
    }

    #contact-us .shape-img {
        display: none;
    }

    .coming-soon {
        padding: 0 0 120px;
        text-align: center;
    }

    footer .row div {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    header .auth {
        display: none;
    }

    header .burger {
        display: flex;
    }
}

@media screen and (max-width: 425px) {
    #contact-us h1,
    .coming-soon h1,
    #shapes h1,
    #about h1 {
        font-size: 25px;
    }
    
    #contact-us p br,
    #shapes p br,
    #about p br{
        display: none;
    }

    
}
